@model WebApplication_Students_Teachers_.Models.TimeTable

<div class="card mb-3">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-6"><strong>Date:</strong> @Model.Date.ToString("yyyy-MM-dd")</div>
        </div>

        <h4 class="mt-4">Lessons</h4>
        @if (Model.Lessons != null && Model.Lessons.Any())
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Topic</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lesson in Model.Lessons)
                        {
                            <tr>
                                <td>@lesson.Name</td>
                                <td>@lesson.Topic</td>
                                <td>@lesson.StartTime.ToString("HH:mm")</td>
                                <td>@lesson.EndTime.ToString("HH:mm")</td>
                                <td>
                                    <a class="mt-1 me-3" href="@Url.RouteUrl("Teacher_default", new {controller = "TimeTable", action = "RemoveLesson", lessonId = lesson.Id, timeTableId = Model.Id })">
                                        <img style="width: 40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Cross_red_circle.svg/2048px-Cross_red_circle.svg.png" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p class="text-muted">No lessons available.</p>
        }
    </div>

    <div class="card-footer d-flex flex-row justify-content-between">
        <div>
            <button data-time-table-id="@Model.Id" class="btn btn-primary ms-2 add-lesson-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddLesson" aria-controls="offcanvasMenu">
                Add Lesson
            </button>
        </div>
        <div>
            <a href="@Url.Action("RemoveTimeTable", "TimeTable", new { area = "Teacher", timeTableId = Model.Id })" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
