@model WebApplication_Students_Teachers_.Models.ViewModels.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    @section scripts {
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {
                if (@(Model.ModalMessage.Show.ToString().ToLower())) {
                    $("#email").val(@Html.Raw(Json.Encode(Model.Email)));

                    $('#incorrectDataModal .modal-header').prepend(@Html.Raw(Json.Encode(Model.ModalMessage.Header)));
                    $('#incorrectDataModal .modal-body').prepend(@Html.Raw(Json.Encode(Model.ModalMessage.Body)));
                    $('#incorrectDataModal .modal-footer').prepend(@Html.Raw(Json.Encode(Model.ModalMessage.Footer)));
                    $('#incorrectDataModal').modal('show');
                }
            });
        </script>
    }
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Forgot Password?</h1>
    </header>

    <main class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <form id="forgotPasswordForm" action="@Url.Action("ForgotPassword", "Authorization")" method="post" class="bg-light p-4 rounded shadow-sm">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="youremail@gmail.com" name="Email" required>
                    </div>

                    @Html.AntiForgeryToken()
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-primary" type="submit">Email Link</button>
                    </div>
                </form>
            </div>
        </div>
    </main>


    @* Modal *@
    <div class="modal fade" id="incorrectDataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
